html {
	background-color: #000;
	color: #fff;
}

button {
	color: #000;
}

table {
	text-align: center;
	color: #fff;
	background-color: #454140;
}

table td {
	border: 2px solid blue;
	width: 200px;
	height: 55px;
}

button {
	background-color: blue;
	color: #fff;
}

button:hover {
	background-color: #fff;
	color: blue;
}

.navbar {
	background-color: #fff;
	height: 10vh;
	border-radius: 0;
	color: #000;
	margin-bottom:0;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Times New Roman", Times, serif;
}

a {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: blue;
}

.navbar-right {
	padding-top: 20px;
}

.jumbotron {
	height: 80vh;
	color: #fff;
	margin-bottom:0;
	padding: 10px;
	font-family: "Times New Roman", Times, serif;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
}

.jumbotron a {
	color: #fff !important;
}

.jumbotron a:hover {
	color: blue !important;
}

.container {
	border-radius: 5px;
	background-color: rgba(0,0,0,.9);
	padding: 10px;
	height: 100%;
	width: 100%;
}

footer a {
	text-decoration: underline;
}