body {
	background-color: #000;
	background-image: url("background.jpg");
	background-repeat: no-repeat;
	background-size: 100vw 100vh;
	background-attachment: fixed;
}

nav {
	border-bottom: 1px solid black !important;
}

.navbar {
	background: linear-gradient(to top, black, #cceeff);
	border-radius: 0px;
	color: #fff;
	margin-bottom:0px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: "Times New Roman", Times, serif;
}

a {
	color: #fff;
}

a:hover {
	text-decoration: none;
	color: #000;
}

.navbar-right {
	padding-top: 5vh;
}

.jumbotron {
	color: #fff;
	font-family: "Times New Roman", Times, serif;
	background-color: rgba(0,0,0,0);
	height: 80vh;
	margin-bottom:0;
}

.jumbotron a {
	text-decoration: none !important;
}

.floating {
	background-color: rgba(0,0,0,.9);
	padding: 10px;
	height: 100%;
	width: 100vw;
}

.main {
	background-color: #cceeff;
	padding: 10px;
	font-size: 18px;
	border-radius: 10px;
}

.container img {
	height: 60%;
	width: 70%;
}

footer {
	margin-top: 40px;
	border-top: 1px solid black !important;
	background: linear-gradient(to bottom, black, #cceeff) !important;
}

footer a {
	text-decoration: underline;
}

.row {
  padding-right: 0px;
  margin-right: 0px;
}

.blink_me:hover {
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

@keyframes blinker {  
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

.flash_me {
    -webkit-animation-name: flasher;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;

    -moz-animation-name: flasher;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: 1;

    animation-name: flasher;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}

@-moz-keyframes flasher {
    0% { #fff; color: #fff; }
    50% { #ccc; color: #000; }
    100% { #fff; color: #fff; }
}

@-webkit-keyframes flasher {  
    0% { color: #fff; }
    50% { color: #000; }
    100% { color: #fff; }
}

@keyframes flasher {  
    0% { color: #fff; }
    50% { color: #000; }
    100% { color: #fff; }
}